.game_over_ui {
    display: none;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.game_over_ui_label {
    font-size: 16px;
    color: gray;
}

.game_over_ui_score {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 8px;
}

.game_over_ui_score_label {
    margin: 0;
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.game_over_ui_restart_btn {
    margin-top: 12px;
    background-color: rgb(77, 77, 250);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
}

.game_over_ui_restart_btn:hover {
    cursor: pointer;
}