body {
    margin: 0;
    overflow: hidden;
    /* background: black;
   
    text-align: center; */
}

.canvas {
    background: black;
}

.score_container {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 8px;
    font-family: sans-serif;
    font-size: 14px;
    user-select: none;
}